.projects {
   text-align: center;
    font-size: x-large;
    height: 100vh;
    width: 100%;
}
.projects h1 {
    margin-bottom: 1rem;
}
.project {
    display:flex;
    justify-content: center;
    color: white;
    margin-top: 5rem;
}
.project ul {
    display: flex;
    gap: 10rem;
    list-style: none;
}
.project li {
    justify-content: center;
    border-radius: 2rem;
    background-color: black;
}
.proimg {
    border-radius: 2rem;
    display: flex;
    width: 30rem;
    height: 20rem;
    margin: 1rem;
}
.project a {
    margin: 1rem;
    display: flex;
    justify-content: center;
    border: solid;
    border-color: white;
    width: 10rem;
    text-decoration: none;
    border-radius: 5rem;
}
.prolinks{
    display: flex;
    margin-left: 4rem;
}
#portfolio {
    margin-left: 10rem;
}
  @media only screen and (max-width: 912px) and (min-width: 280px)  {
    .projects {
     width: 950px;
     height: 100%;
    }
    .project {
        margin-top: 1rem;
        margin-bottom: 5rem;
    }
    .project ul {
        display: block;
    }
    .project li {
        margin-top: 5rem;
        width: 40rem;
        height: 30rem;
    }
    .proimg {
        padding-top: 3rem;
        width: 38rem;
        height: 22rem;
    }
    .project a {
        margin-left: 3rem;
        font-size: large;
        height: 2rem;
    }
    #portfolio {
        margin-left: 11rem;
    }
    .ph1 {
        padding-top: 2rem;
    }
   }